.message
  .message__upper-info
    .message__upper-info__talker
      name
    .message__upper-info__date
      2019/10/17(Thu)
  .message__text
    text text text t
.message
  .message__upper-info
    .message__upper-info__talker
      name
    .message__upper-info__date
      2019/10/17(Thu)
  .message__text
    text text text text
.message
  .message__upper-info
    .message__upper-info__talker
      name
    .message__upper-info__date
      2019/10/17(Thu)
  .message__text
    text text text t
.message
  .message__upper-info
    .message__upper-info__talker
      name
    .message__upper-info__date
      2019/10/17(Thu)
  .message__text
    text text text text
.message
  .message__upper-info
    .message__upper-info__talker
      name
    .message__upper-info__date
      2019/10/17(Thu)
  .message__text
    text text text t
.message
  .message__upper-info
    .message__upper-info__talker
      name
    .message__upper-info__date
      2019/10/17(Thu)
  .message__text
    text text text text
.message
  .message__upper-info
    .message__upper-info__talker
      name
    .message__upper-info__date
      2019/10/17(Thu)
  .message__text
    text text text t
.message
  .message__upper-info
    .message__upper-info__talker
      name
    .message__upper-info__date
      2019/10/17(Thu)
  .message__text
    text text text text